.logo {
  height: 50px;
}
.logo-container {
  display: flex;
  justify-items: flex-start;

  color: #ffffff;
}
.rating-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.role {
  color: #ffffff;
  padding: 0;
  font-size: 20px;
}
.job-container {
  display: flex;
  text-decoration: none;
  background-color: #272727;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 25px;
  flex-direction: column;
  color: #ffffff;
  justify-content: flex-start;
  align-items: flex-start;
}
.star {
  font-size: 23px;
  color: #fbbf24;
}
.rating {
  font-size: 20px;
  margin: 1px;
}
.role-container {
  padding: 10px;
}
.location-icon {
  color: #ffffff;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.package {
  font-size: 20px;
}
.location-container {
  display: flex;
  align-items: center;
}
.location {
  margin-right: 10px;
}
hr {
  width: 100%;
}
.description-title {
  font-size: 20px;
  font-family: default;
  font-weight: 500;
}
