.login-bg {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-card {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: fit-content;
  height: 400px;

  padding: 30px;
}
.logo {
  height: 50px;
  cursor: pointer;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
label {
  color: #ffffff;
}
input {
  background-color: #272727;
  border-color: #64748b;
  border-style: solid;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 35px;
  width: 400px;
}
.login-btn {
  color: #ffffff;
  background-color: #4f46e5;
  border-radius: 5px;
  border: none;
  height: 35px;
  cursor: pointer;
  font-weight: 600;
}
#username {
  color: #ffffff;
}
#password {
  color: #ffffff;
}
@media (max-width: 576px) {
  .login-card {
    width: fit-content;
    padding: 20px;
  }
  input {
    width: 300px;
  }
}
