.nav {
  background-color: #272727;
  display: flex;
  justify-content: space-around;

  align-items: center;
  padding: 5px;
  margin: 0;
}
.jobs-link-container {
  display: flex;
  align-items: center;
}
.link {
  padding-right: 25px;
  margin: 0;
  color: #ffffff;
  font-size: 25px;
  cursor: pointer;
}
.logout-btn {
  background-color: #4f46e5;
  color: #ffffff;
  width: 100px;
  margin-right: 50px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  height: 30px;
  border-radius: 5px;
}
.home-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 100vh;
  width: 100vw;
}
.heading {
  font-size: 80px;
  color: #ffffff;
  padding-top: 50px;
  max-width: 60%;
}
.description {
  color: #ffffff;
  font-size: 25px;
  max-width: 60%;
}
.find-jobs-btn {
  background-color: #4f46e5;
  height: 50px;
  border: none;
  width: 120px;
  border-radius: 7px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.card {
  padding-left: 100px;
}

.nav-logo {
  padding-left: 30px;
}
