.jobs-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  min-height: 100vh;
  max-height: 100%;
  width: 100vw;
}
.jobs-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.profile-section {
  width: 30%;
}
.profile {
}
.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  align-items: flex-start;
  background-repeat: no-repeat;
  width: 300px;
  height: 250px;
  background-size: auto 100%;
}
.name {
  color: #6366f1;
}
.bio {
  color: #2c364c;
}
hr {
  color: #2c364c;
  width: 70%;
  text-align: start;
}
body {
  border: 0;
  padding: 0;
  margin: 0;
}
input {
  padding: 0;
  margin: 0;
}
