.jobs-bg {
  /*background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  */
  background-color: #000000;
  min-height: 100vh;
  max-height: 100%;
  width: 100vw;
  box-sizing: border-box;
  overflow: auto;
}
.jobs-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
}
.profile-section {
  width: fit-content;
  margin-right: 25px;
}
.profile {
  height: 50px;
}
.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  align-items: flex-start;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  background-size: auto 100%;
}
.name {
  color: #6366f1;
  font-size: 20px;
}
.bio {
  color: #2c364c;
  font-size: 15px;
}
hr {
  color: #7e858e;
  width: 250px;
  text-align: start;
}
body {
  border: 0;
  padding: 0;
  margin: 0;
}
input {
  padding: 0;
  margin: 0;
}
.search-container {
  border-style: solid;
  border-color: #7e858e;
  border-width: 0.5px;
  outline: none;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-container-sm {
  border-style: solid;
  border-color: #7e858e;
  border-width: 0.5px;
  outline: none;
  width: 85vw;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.search {
  border: 0;
  background-color: #000000;
  color: #ffffff;
  width: 350px;
  outline: none;
  padding-left: 15px;
}
.search-icon {
  width: 50px;
  font-size: 20px;
  height: 30px;
  color: #ffffff;
  cursor: pointer;
  background-color: #272727;
}
.jobs-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  overflow: auto;
}
.logo {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .search-container-sm {
    display: none;
  }
}
@media (max-width: 768px) {
  .search-container {
    display: none;
    justify-content: space-between;
  }
  .jobs-card {
    display: flex;
    flex-direction: column;
  }
  .profile-container {
    width: 85vw;
    height: 190px;
    background-size: cover;
  }
}
#login-loader {
  background-color: #000000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#profile-loader {
  background-color: transparent;
  color: #000000;
}
.loader-container {
  padding-left: 50%;
  padding-top: 50%;
}
