.jobs-bg {
  /*background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  */
  background-color: #000000;
  min-height: 100vh;
  max-height: 100%;
  width: 100vw;
  overflow: scroll;
}
.jobs-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
}
.profile-section {
  width: 30%;
  margin-right: 25px;
}
.profile {
}
.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  align-items: flex-start;
  background-repeat: no-repeat;
  width: 300px;
  height: 250px;
  background-size: auto 100%;
}
.name {
  color: #6366f1;
}
.bio {
  color: #2c364c;
}
hr {
  color: #7e858e;
  width: 70%;
  text-align: start;
}
body {
  border: 0;
  padding: 0;
  margin: 0;
}
input {
  padding: 0;
  margin: 0;
}
.search-container {
  border-style: solid;
  border-color: #7e858e;
  border-width: 0.5px;
  outline: none;
  width: 400px;
  display: flex;
  align-items: center;
}
.search {
  border: 0;
  background-color: #000000;
  color: #ffffff;
  width: 350px;
  outline: none;
  padding-left: 15px;
}
.search-icon {
  width: 50px;
  font-size: 100%;
  color: #ffffff;
  cursor: pointer;
  background-color: #272727;
}
